*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: #F6FDC3;   
}
.contenedor{
    width: 300px;
    height: 300px;
    margin: 10% 40%;
    background: #CDFAD5;
    border-radius: 10px;
    display: inline-block;
}
.encabezado{
    padding: 4% 18%;
    margin: 5%;
    background: #FFCF96;
    text-align: center;
    border-radius: 10px;
}

button{
    width: 70%;
    margin: 2% 15;
    padding: 3%;
    background: #FF8080;
    border-radius: 14px;
    margin-top: 6%;
}
button:hover{
    background: #F6FDC3;
    font-size: 1em;
    transition: all 0.5s linear;
    cursor: pointer;
}
.pag{
    text-align: center;
    background: #FFCF96;
    border-radius: 15px;
}
input{
    width: 90%;
    padding: 6%;
    border-radius: 10px;
    background: transparent;
}
.rdatos{
    background: #F6FDC3;
    padding: 6%;
    border-radius: 10px;
}
